* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;

  background: rgb(96, 149, 225);
  background: linear-gradient(
    90deg,
    rgba(96, 149, 225, 1) 0%,
    rgba(216, 84, 234, 1) 30%,
    rgba(255, 194, 180, 1) 100%
  );
}

.container {
  height: 600px;
  width: 400px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #fefffe;

  border: solid 1px #00000010;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
